* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

/* VARIÁVEL CSS*/
:root {
    --cor-neon: #365fe4;
}



body {
    background: rgb(62, 62, 250);
    color: #fff;
    padding: 20px 5%;
    min-height: 100vh;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: background 0.5s ease;
    /* Transição suave no fundo */
}

body::before {
    content: '';
    background: #202020;
    width: 100%;
    height: 120%;
    position: absolute;
    top: 0;
    left: -30%;
    transform: rotate(-70deg);

    z-index: 0;
}

body::after {
    content: "Nike";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;

    font-size: clamp(100px, 20vw, 250px);
    /* Fonte responsiva automática */
    z-index: 0;

    font-weight: bold;
    opacity: 0.2;
}

.logo-nike {
    width: 200px;
    position: relative;
    z-index: 2;
}

.tenis {
    /* Assim o elemento cresce até 700px, mas diminui quando a tela for menor.*/
    /* width: 100%; */
    /* max-width: 280px; */
    transform: rotate(-25deg);
    width: 700px;
    margin-right: 50px;
    margin-left: 0;
    z-index: 9999;
    animation: flutuar 4s ease-in-out infinite;
}


.caixa-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex: 1;
    /* height: 75%; */
    position: relative;
    z-index: 1;
    margin-top: 40px;
}

.caixa-texto {
    max-width: 500px;
    /* margin-bottom: 250px; */
}

h1 {
    margin-bottom: 20px;
    color: var(--cor-neon);
    /* Usa a variável dinâmica */
    margin-top: 50px;
    transition: color 0.5s ease;
}

p {
    margin-bottom: 50px;
}

.botao-carrinho {
    background: var(--cor-neon);
    /* Usa a variável dinâmica */
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;

    display: inline-block;
}


.botao-carrinho:hover {
    box-shadow:
        0 0 10px var(--cor-neon),
        0 0 20px var(--cor-neon),
        0 0 40px var(--cor-neon);
    transform: translateY(-5px);
}

.caixa-imagem-tenis {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .tenis {
        max-width: 350px;
        margin-left: 0;
        transform: rotate(-20deg);
    } */

.tenis {
    width: 100%;
    max-width: 600px;
    z-index: 9999;
    animation: flutuar 4s ease-in-out infinite;
}

@keyframes flutuar {
    0% {
        transform: rotate(-25deg) translateX(100px) translateY(0px);
    }

    50% {
        transform: rotate(-25deg) translateX(100px) translateY(-20px);
    }

    100% {
        transform: rotate(-25deg) translateX(100px) translateY(0px);
    }
}

.caixa-botoes {
    display: flex;
    gap: 15px;
    position: relative;
    z-index: 2;
    margin-top: 30px;
}

.botao:hover {
    transform: scale(1.1);
}

.botao {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid transparent;
    cursor: pointer;
    transition: transform 0.2s;
}

.botao:active {
    opacity: 0.6;
}

.azul {
    background-color: #365fe4;
}

.rosa {
    background-color: #FF69B4;
}

.verde {
    background-color: #556B2F;
}

/* REGRAS RESPONSIVAS CONSOLIDADAS */

@media (max-width: 1024px) {

    .caixa-principal {
        flex-direction: column-reverse;
        /* Tênis fica em cima do texto no tablet/celular */
        text-align: center;
        gap: 50px;
    }

    .tenis {
        max-width: 400px;
        /* margin-left: 0;
        transform: rotate(-20deg); */
    }

    .caixa-botoes {
        justify-content: center;
    }

    @media (max-width: 768px) {

        body {
            /* padding: 20px; */
            overflow-y: auto;
        }

        body::before {
            left: -250px;
            transform: rotate(-60deg);
        }

        .logo-nike {
            width: 120px;
            right: 0;
            display: block;
        }

        .tenis {
            max-width: 280px;
        }
    }
}
